@import "variaveisScrollBar";
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px grey;
    margin-bottom: 2em;
    padding: 1em 2em;
    .menu a{
        color: $cor-logo;
        text-decoration: none;
        padding: .7em;
        border: 1px solid $cor-logo;
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
    }
    .menu a:hover{
        color: white;
        background-color: $cor-logo;
    }
    i{
        margin-left: 1em;
        font-size: 1.5em;
        color: $cor-logo;
        text-align: right
    }
    img{
        height: 100px;
    }
}

footer{
    color: white;
    padding: 1em;
    background-color: $cor-des1;
    text-align: center;
    p{
        font-size: 13px;
        line-height: 1.6;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        display: inline-block;
        padding: .4em;
        color: $fundo;
    }
    a{
        color: rgba(255,255, 255, 0.5);
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
    }
    a:hover{
        color: $cor-white;
    }
}
