@charset "UTF-8";

html{ font-family: sans-serif; }
h1,h2,h3,h4,h5,h6{ font-family: "Oxygen"; }

.btn{
    display: inline-block;
    padding: .75em 2.5em;
    background: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.btn:hover{ background: #37a0a0; }

.hidden{
    width: 0; height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.clearfix::after, .row::after{
    content:"";
    display: block;
    clear: both;
}

.siteHeader{
    text-align: center;
}
.siteNav{
    background-color: #612674;
    text-align: center;
}
.siteHeaderLogo{
    margin: .5em;
}
.siteNav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.siteNav a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}
.siteNav a:hover{
    background: #7c3792;
}

.siteMainBanner{
    text-align: center;
    background: #f6f6f6;
    padding: 2em;
}
.siteMainTitulo{
    color: #612674;
    font-size: 1.375em;
    margin: 1.375em;
}
.siteMainSubtitulo{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5em;
}

.siteMainDestaque{
    background: #f6f6f6;
    text-align: center;
    padding: 2em;
}
.siteMainDestaqueT{
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
}
.siteMainDestaque p{
    line-height: 1.5;
    color: #222;
}
.siteMainDestaque span[class^=icon]{
    font-size:3.5em;
    color: #652e78;
}

.siteMainConteudo{
    padding: 2em;
}
.siteMainConteudo p{
    line-height: 1.2;
}
.siteMainConteudoArticle{
    margin-bottom: 3.5em;
}
.siteMainConteudoTitulo{
    letter-spacing: .2em;
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
    font-weight: normal;
}

.siteFooter{
    background: #25303e;
    color:white;
    text-align: center;
    padding-bottom: 2em;
}
.siteFooterIcons{
    background: #303d4c;
    padding: .5em;
}

.siteFooterIcons li{
    display: inline-block;
    margin: 0 1em;
}
.siteFooterIcons a{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}
.siteFooterIcons a:hover{
    color: rgb(202, 202, 202);
}

@media screen and (min-width: 46.25em){
    .siteHeaderLogo{
        float: left;
    }
    .siteNav{
        background: transparent;
        float: right;
        margin-top: 1.6em;
    }
    .siteNav ul{
        margin: 0; padding: 0;
    }
    .siteNav li{
        display: inline-block;
    }
    .siteNav a{
        color: #713a84;
        font-weight: bold;
    }
    .siteNav a:hover{
        background: #e7d9f5;
    }
    .siteMainBanner{
        background: #521a66;
    }
    .siteMainTitulo, .siteMainSubtitulo{
        color: white;
    }
    .siteMainConteudoArticle .btn{
        float: right;
    }
    .col1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }
}
@media screen and (min-width: 62.5em){
    .siteMainBanner{
        background:#521a66 url("../img/bg_topo_1198x670.jpg");
        height: 15em;
        padding-top: 15em;
    }
}