body{
    font-family: arial,sans-serif;
    background: #ccc;
    margin: 0;
}

.banner{
    height: 500px;
    background-image: url("imagens/bg-3.jpg");
    background-position: right center;
    background-size:cover;
    border-top: 1px solid transparent;
}
.banner-conteudo{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.banner-conteudo h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}
.banner-conteudo p{
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

.banner nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-left: 10px;
}
.banner nav ul{
    text-align: right;
    margin: 15px 25px 0 0;
}
.banner nav a{
    background: rgba(0, 0, 0, 0.397);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.banner nav a:hover{
    background: rgba(0, 0, 0, 0.5);
}

main{
    width: 80%;
    margin: auto;
}
.conteudos{
    background-color: white;
    padding:10px;
    margin-top: 15px;
    overflow: auto;
}
.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card1, .card2{
    margin-right: 2%;
}
.card img{
    width: 100%;
    display: block;
}
.card p{
    color: white;
    background-color:rgb(97, 97, 97) ;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2{
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid gray;
}

footer{
    color: white;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    text-align: center;
}