@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

:root{
    --darkBlue:#003D52;
    --blue: #3C7E8C;
    --plays: rgb(28, 119, 139);
}

body{
    margin: 40px 0;
    background-color: var(--darkBlue);
    font-family: 'Open Sans', sans-serif;

}
h1,h3{
    color: var(--blue);
}
h1{
    margin: 0px auto 40px;
    text-align: center;
}
h3{
    font-size: 1.5em;
}
.players{
    width: 80%;
    margin: auto auto 20px;
    height:150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
}
h3>i{
    font-size:1em;
}
.players p{
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.game{
    background-color: var(--blue);
    width: 320px;
    height: 320px;
    margin: auto auto 10px
}
.board{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:10px;
    height:100%;
}
.box{
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--darkBlue);
    height: 100px;
    width: 100px;
    cursor:pointer;
}
.info{
    width: 90%;
    margin: 30px auto 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.msg{
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size: 24px;
}
i{
    color: var(--blue);
    line-height:0;
    font-size:80px;
    text-align: center;
}
p>i{
    color: white;
    margin-left: 10px;
    font-size:34px;
}
.reiniciar{
    padding: 15px;
    border: 2px solid var(--darkBlue);
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    border-radius:8px;
    background-color: var(--blue);
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    outline:none;
    cursor:pointer;
}
footer p{
    text-align: center;
    color: var(--blue);
    font-size: 12px;
}
footer a{
    color: var(--blue);
}
footer a:hover{
    color: rgba(255, 255, 255, 0.555);
}
@media screen and (min-width:500px){
    .players{
        width: 55%;
        margin: auto auto 0;
    }
    .info{
        width: 50%;
        justify-content: center;
    }
    .info p, .info button{
        margin: 0 20px;
    }
}
@media screen and (min-width:700px){
    .players{
        width: 50%;
    }
}