body{
    margin: 0px;
    font-family: sans-serif;
}
.menu{
    height: 500px;
    background-image: url("imagens/bg-3.jpg");
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.menu-info{
    text-align: center;
    color:white;
    margin-top: 150px;
}
.menu-info h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}
.menu nav li{
    display: inline-block;
    list-style: none;
    border-radius: 7px;
    margin-left: 10px;
    border: 1px solid rgb(80, 142, 223);
}
.menu nav ul{
    text-align: right;
    margin: 15px 25px 0 0;
}
.menu nav a{
    background: rgb(80, 142, 223);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 6px;
}
.menu nav a:hover{
    background:white;
    color:  rgb(80, 142, 223);
    border: 1px solid rgb(80, 142, 223) ;
}

main{
    width: 80%;
    margin: auto;
}
.conteudo{
    padding: 15px;
    background: #ccc;
    margin-top: 15px;
}

footer{
    color: white;
    background-color: rgb(63, 63, 63);
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}
