@import "partials/headerFooter.scss";
@import "partials/variaveisScrollBar";
@import "partials/buttons";

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
.border{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.destaque{
    text-align: center;
    display: flex;
    flex-direction: column;
    h2{
        text-align: left;
    }
    .pratoDestaque{
        padding: .5em;
        max-height: 360px;
        margin-bottom: .5em;
        border: 2px solid $cor-des1;
        border-radius: 11px;
        box-sizing: border-box;
        box-shadow:0px 0px 25px -15px  rgba(0, 0, 0, 0.75) ;
        img{
            max-width: 100%;
            max-height: 220px;
        }
        a{
            text-decoration: none;
            p{
                color: black;
                margin-right: .8em;
            }
            .prato-mais{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            i{
                font-size: 1.5em;
            }
            :hover{
                p, i{
                    color: $cor-des1;
                }
            }
        }
    }
    .prato-none{
        display: none;
        overflow: hidden;
    }
}
.comidas{
    width: 100%;
    margin-top: 2rem;
    .prato{
        width: 100%;
        font-size: 14px;
        margin-bottom: 1em;
        box-shadow:0px 0px 19px -15px  rgba(0, 0, 0, 0.75) ;
        border-radius: 11px;
        a{
            border-radius: 11px;
            border: 2px solid $fundo;
            display: flex;
            align-items: center;
            flex-direction: row;
            color: black;
            text-decoration: none;
        }
        a:hover{
            border-color: $cor-des1;
            color: $cor-des1;
        }
        img{
            margin-left: 7px;
            max-width: 130px;
        }
        p{
            margin-left: 1em;
            font-size: 1.4em;
        }
    }
    .col2 , .col3{
        margin-bottom: 20px;
    }
    .prato-none, .col1-2 .prato-none{
        display: none;
        overflow: hidden;
    }
    .opcao{
        background-color: $cor-des1;
        color: white;
        width: 100%;
        font-size: 14px;
        margin-bottom: 1em;
        box-shadow:0px 0px 19px -15px  rgba(0, 0, 0, 0.75) ;
        border-radius: 11px;
        a{
            border-radius: 11px;
            border: 2px solid $cor-des1;
            display: flex;
            align-items: center;
            flex-direction: row;
            color: white;
            text-decoration: none;
            i{
                margin-left:1em;
            }
        }
        a:hover{
            background-color: white;
            color: $cor-des1;
            border-color: $cor-des1;
        }
        p{
            margin-left: 1em;
            font-size: 1.4em;
        }
    }
}
.info{
    font-size: 16px;
    margin-top: 3em;
    padding: 1em;
    background: $fundo;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    address{
        p{
            font-size: 16px;
        }
        i{
            color: $cor-logo;
            margin-right: 1em;
        }
    }
    .form{
        width: 100%;
        margin-bottom: 1.5em;
        input, textarea{
            width: 100%;
            padding: .5em;
            margin-top: .75em;
            margin-bottom: .75em;
            border: 1px solid $cor-white;
            border-radius: 11px;
            resize: none;
        }
    }
    #fazerpedido{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    input[type="radio"]{
        width: auto;
    }
}
#sobre{
    padding-bottom: 1em;
    padding-top: 1em;
}
#prato{
    margin-top: 2em;
    h2{
        margin-top: 1.5em;
        margin-bottom: .4em;
    }
    .prato-destaque{
        width: 100%;
        font-size: 14px;
        margin-bottom: 1em;
        color: black;
        img{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 60%;
            padding: 1em;
        }
        .tamanhos{
            .tamanho{
                margin-bottom: 1em;
                text-align: center;
                box-shadow:0px 0px 19px -15px  rgba(0, 0, 0, 0.75) ;
                border-radius: 11px;
                background-color: $cor-logo;
                color: white;
                border: 2px solid $fundo;
                padding: .3em;
            }
        }
    }
}
.promocao{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-top: 2rem;
    form{
        display: flex;
        flex-direction: column;
    }
    input{
        padding: .5em;
        padding-left: 1em;
        border: 1px solid gray;
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
        margin-bottom: 1em;
    }
}
@media screen and (min-width:500px){
    #prato{
        .tamanhos{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .tamanho{
                flex: 0 1 29%;
            }
        }
    }
}
@media screen and (min-width:550px){
    .comidas{
        .opcoes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1em;
            .opcao{
                max-width: 48%;
            }
        }
    }
}
@media screen and (min-width:650px){
    .destaque{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn-up{
        margin-left: 90%;
    }
    .comidas{
        
    }
    #prato{
        .prato-destaque{
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            align-content: stretch;
            img{
                margin-left: 0;
                margin-right: 1.8em;
                max-width: 240px;
                border-radius: 11px;
                border: 2px solid $fundo;
                box-shadow:0px 0px 19px -15px  rgba(0, 0, 0, 0.75) ;
            }
            .prato-info{
                flex:0 1 60%;
            }
        }
    }
    .promocao form{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .promocao input{
       flex: 0 1 70%;
       margin-bottom: 0;
    }
    #enviarEmail{
        width: 20%;
        margin-left: 1em;
    }
}
@media screen and (min-width:900px){
    .destaque{
        .pratoDestaque{
            max-width: 240px;
        }
        .pratoDestaque:nth-child(3){
            display: block;
        }
    }
    .comidas{
        .col3{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1em;
            .prato{
                max-width: 32%;
            }
        }
        .prato-none, .col1-2 .prato-none{
            display: block;
        }
        .col2{
            display: flex;
            flex-direction: column;
            align-content: stretch;
            .col1-2{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div{
                    max-width: 49%;
                }
            }
        }
        .opcoes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1em;
            .opcao{
                max-width: 32%;
            }
        }
    }
    #prato{
        .prato-destaque{
            img{
                margin-left: 0;
                margin-right: 3em;
                max-width: 340px;
            }
            .prato-info{
                flex:0 1 75%;
            }
        }
        .tamanhos{
            .tamanho{
                flex: 0 1 29%;
            }
        }
    }
    .promocao form{
        justify-content: flex-start;
    }
    .promocao input{
        flex: 0 1 40%;
        margin-bottom: 0;
    }
}
@media screen and (min-width:1180px){
    .destaque{
        .pratoDestaque{
            max-width: 240px;

        }
        .prato-none{
            display: block;
        }
    }
    .info-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .form{
            flex: 0 1 60%;
            margin-bottom: .8em;
            margin-right: 4em;
            width: 100%;
            form{
                display: flex;
                flex-direction: column;
            }
            #form-essencial{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            #form-essencial label{
                flex: 0 1 47%;
            }
            textarea{
                height: 100px;
            }
            #fazerpedido label{
                display: inline;
            }
            #fazerpedido label label{
                margin-left: .5em;
            }
            #fazerpedido{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            #fazerpedido label, #fazerpedido button{
                flex: 0 1 47%;
            }
            #enviarPedido{
                margin-top: .3em;
                margin-right: 0;
            }
        }
        .contato{
            flex:0 1 30%;
        }
    }
    #prato{
        .tamanhos{
            .tamanho{
                flex: 0 1 31%;
            }
        }
    }
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div:nth-child(1){
            margin-right: 1em;
        }
        div:nth-child(2) li a{
            font-size: 1.3em;
            margin-right: .2em;
        }
    }
}